.game-result {
  background: linear-gradient(to right, #e5faff 50%, #dee8ff 50% 100%);
}

.game-result__content {
  display: flex;
  gap: 15px;
}

.game-result__background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-repeat: repeat;
  animation: background 2s linear infinite;
}

@keyframes background {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 296px;
  }
}

.game-result__small-image {
  width: 48px;
  height: 44px;
  margin: 24px 2px;
}

.game-result__image-draw {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-result__information {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.game-result__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-result__title {
  font-size: 32px;
  font-family: Aoenik-bold, arial, sans-serif;
}

.game-result__value {
  font-size: 48px;
  font-family: Aoenik-bold, arial, sans-serif;
}

.game-result__sub-title {
  font-family: Aoenik-bold, arial, sans-serif;
}

.game-result__value-default {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-result__value-winner {
  animation: pulse-green 1s infinite;
}

.game-result__value-loser {
  animation: pulse-red 1s infinite;
}

.game-result__value-draw {
  animation: pulse-gray 1s infinite;
}

@keyframes pulse-red {
  0% {
    color: #ff0d45;
  }
  110% {
    color: black;
  }
}

@keyframes pulse-green {
  0% {
    color: #4e9a51;
  }
  110% {
    color: black;
  }
}

@keyframes pulse-gray {
  0% {
    color: #adadad;
  }
  110% {
    color: black;
  }
}

.game-result__user {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.game-result__arrow {
  display: flex;
  gap: 2px;
}

.game-result__pt {
  font-size: 10px;
}
